body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
    height: 50px;
}

section img{
    width: 300px;
}
section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}


#btn-ok {
    margin-bottom: 20px;
    height: 40px;
    width: 120px;
    background-color: #009879;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

#btn-ok:hover{
    background-color: #006c57;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    outline: none;
    border: 1px solid #009879;
    border-radius: 10px;
}
