body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
    height: 50px;
}

section img{
    width: 300px;
}
section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

#lable-con{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}


.buttons button {
    margin-bottom: 20px;
    height: 40px;
    width: 150px;
    background-color: #009879;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.buttons button:hover{
    background-color: #006c57;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    outline: none;
    border: 2px solid #009879;
    border-radius: 10px;
}
.custom-file-uploadOne,.custom-file-uploadTwo{
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    outline: none;
    border: 2px solid #009879;
    border-radius: 10px;
}

.buttons{
    width: fit-content;
    margin-bottom: 44px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.buttons a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 12px 49px;
    text-decoration: none;
    color: #fff;
}
.valider-but-con{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.valider-but-con button{
    margin-bottom: 20px;
    height: 40px;
    width: 150px;
    background-color: #009879;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}