body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #072e55;
    height: 120px;
    align-items: center;
}

header h2{
    color: rgb(255, 255, 255);
    font-family:  sans-serif;
    font-size: 20px;
    
}

header img{
    margin: 10px;
   width: 100px;
   height: 100px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2px;
}

nav select{
    width: calc(100% / 3 - 1%);
    background-color: #43A047;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 40px;
    border-radius: 5px;
}

nav select option{
    background-color: #072e55;
}